body{
  background-color: brown;
  margin: 0px;
  padding: 0px;
}
.parent{
  display: flex;
  justify-content: center;
  text-align: center;
}
#item{
  position: relative;
  top: 4px;
  right:20px ;
}
.showItem{
  display: flex;
  justify-content: center;
 
}
.eachItem{
 position: relative;
 top: 10px;
 left: 530px;
 margin: 8px;

 background-color: white;
 width: 278px;
 
}
#del{
  position: absolute;
  top: 4px;
  left: 260px
}
#edit{
  position: absolute;
 top: 4px;
 left: 230px
}
@media (max-width:676px) {
  .parent{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  #item{
    position: relative;
    top: 4px;
    right:20px ;
  }
  .showItem{
    display: flex;
    justify-content: center;
   
  }
  .eachItem{
   position: relative;
   top: 10px;
   left: 530px;
   margin: 8px;
  
   background-color: white;
   width: 278px;
   
  }
  #del{
    position: absolute;
    top: 4px;
    left: 260px
  }
  #edit{
    position: absolute;
   top: 4px;
   left: 230px
  }
}